{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "printWidth": 150,
  "trailingComma": "es5",
  "singleQuote": true,

  "arrowParens": "avoid",
  "importOrder": ["^components/(.*)$", "^[./]"],

  "importOrderSortSpecifiers": true
}
